{% extends "layout.html" %}
{% block body %}
  <div class="form-group">
    <p>
      <h1>Memo</h1>
    </p>
    <hr>
  </div>
  
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <div class="form-group">
    <form action="{{ url_for('add_entry') }}" method=post>
      <dl>
        <dt>Title:
        <dd><input type=text size=20 name=title>
        <dt>Text:
        <dd><textarea class="form-control" name=text rows=20 cols=50></textarea>
        <dd><input type=submit class="btn btn-primary mb-2" value="Memorize">
      </dl>
    </form>
  </div>

  <ul class="container">
    <p>
      <h2>Lists you memorized</h2>
    </p>
    {% for entry in entries %}
      <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
  </ul>
{% endblock %}